# {{project_name}}

Summary

## Semantic Versioning

This project (attempts to) adhere to [Semantic Versioning (SemVer)](https://semver.org/spec/v2.0.0.html).

In particular, every breaking change will be associated with a MAJOR version increment, and MINOR and PATCH increments will be backward-compatible. Thus, in theory, a user of this project should be able to upgrade their version of this project to anything with the same MAJOR version number without breaking anything.

Note that the above only applies once the MAJOR version is at least 1.

## Changelog